/* initial styling for mobile devices */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


h1 {
    margin: 0;
    flex-grow:4;
}  

nav {
    border: 1px solid green;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: flex-start;
}

nav ul li {
    border: 1px solid blue;
    margin: 0;
    padding: 5px;
    flex-grow:1;
    text-align: center;
}

nav ul li:hover {
    background:grey;
}

nav ul li a {
    text-decoration: none;
}

.flexContainer {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
}

.profile {
    border: 1px solid blue;
    margin: 10px 5px 0 5px;
    text-align:center;
}

#profileHeadshot {
    padding:10px;
}


.profileText{
    border: 1px solid red;
    max-width: 80%;
    margin: 5px;
}

.profileText p {
    text-align: left;
    text-indent: 10px;
    padding:5px;
}

.projectsBox {
    border: 1px solid blue;
    margin: 10px 5px 0 5px;
    text-align:center;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.singleProject{
    border: 1px solid red;
    max-width:70%;
    margin: 10px;
}

.projectSnapshot{
    padding:10px;
}

.projectLink{
    text-decoration: none;
}

.resumeBox{
        border: 1px solid blue;
        margin: 10px 5px 0 5px;
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
    }

.workHistory{
    border: 1px solid red;
}

.job{
    border: 1px solid purple;
}

.education{
    border: 1px solid red;
}

.school{
    border: 1px solid purple;
}

footer ul {
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer ul li{
border: 1px solid blue;
    margin: 0;
    padding: 5px;
    flex-grow:1;
    text-align: center;
}
footer ul li:hover{
    background-color:grey;
}
footer ul li a {
    text-decoration: none;
}
/* break point for smaller devices */
@media screen and (max-width: 376px) {
    body {
        background-color:teal;
    }

    nav ul li {
        align-content: bottom;
    }
}

/* Break point for Desktop viewers */

@media screen and (min-width: 768px) {
    body {
        background-color:limegreen;
    }

    .flexContainer {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        align-items:center;
        justify-content: center;
    }

    .profileText{
        max-width: 60%;
    }
    .singleProject{
        max-width:40%;
        display: flex;
        align-items: center;
    }
    .resumeBox{
      max-width: 765px;
    }
}